<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>管理者新規登録</title>
</head>
<body>
    <h1>管理者新規登録</h1>
    <form th:action="@{/admin/signup}" th:object="${admin}" method="post">
        <div>
            <label for="lastName">姓:</label>
            <input type="text" id="lastName" th:field="*{lastName}" />
        </div>
        <div>
            <label for="firstName">名:</label>
            <input type="text" id="firstName" th:field="*{firstName}" />
        </div>
        <div>
            <label for="email">メールアドレス:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>
        <div>
            <label for="password">パスワード:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <button type="submit">登録</button>
        </div>
    </form>
</body>
</html>
